<div class="jumbotron">
  <h1 id="rupee">Projetos Rupee</h1>
  <p>Gerencie seus projetos em qualquer lugar!</p>
  <p>

    <%= link_to 'Crie Sua Conta', new_user_path, class: 'btn btn-success btn-lg' %>

  </p>
<div>
